# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [27]:
create table junkDB_kc.Prathima.planned_makes(
    recipe_num int Primary key,
    recipe_author VARCHAR(50) NOT NULL,
    gender VARCHAR(20),
    phone VARCHAR(20),
)

Add three rows to your table that are your planned makes.

In [32]:
INSERT INTO junkDB_kc.Prathima.planned_makes(recipe_num,recipe_author,gender,phone)
VALUES
('2','Mike','Male','917176557'),
('3','Kathy','Female','917786599');

## Update a Row

Change different values in one of your three rows.

In [38]:
update junkDB_kc.Prathima.planned_makes
set recipe_author='Frank' where recipe_num='1'

select * from junkDB_kc.Prathima.planned_makes

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'junkDB_kc.Prathima.planned_makes'.

## Delete a Row

Delete one of the rows from your table.

In [35]:
delete from junkDB_kc.Prathima.planned_makes
where recipe_num='3'

## Drop the Table

While this has been fun, it is time to drop the table!

In [37]:
drop table junkDB_kc.Prathima.planned_makes